*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box-image{
    background-image: url("../img/jumbo.png");
    height: 600px;
    background-size: cover;
}
.container{
    width: 1000px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;
    
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
.sidebar-left{
    float: left;
    width: 25%;
}

.content-main{
    float: left;
    width: 50%;
    padding: 0 20px; 
}
.sidebar-right{
    float: left;
    width: 25%;
    position: relative;
}


/*--------------utility------------------  */

nav{
    height: 60px;
    /* line-height: 60px; */
    padding-top: 20px;
   
}

.content-logo img{
    height: 100%;
}

.content-main ul{ 
    list-style: none;
}

.content-main ul li{
    float: left;
    margin-left: 27px;
}

.content-main ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.content-main ul li a:hover{
    background-color: lightblue;
    border-radius: 10px;
    font-weight: 700;
}

.button{
    text-align: center;
    position: absolute;
    top: -10px;
    right: 0;
    border-radius: 10%;
}

p{
    background-color: white;
    padding: 15px;
    border-radius: 30%;
}

