*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box-image-1{
    background-image: url("../img/jumbo.png");
    height: 500px;
    width: 100%;
    background-size: cover;
}
.container{
    width: 1200px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;    
}

header{
    height: 500px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
.sidebar-left{
    float: left;
    width: 25%;
}

.content-main{
    float: left;
    width: 50%;
    padding: 0 20px; 

}
.sidebar-right{
    float: left;
    width: 25%;

}


/*--------------utility------------------  */

nav{
    height: 60px;
   /* fixed mi da problemi perché prende tutta la pagina */
}

/* -----------------sidebar-left------------- */
.content-logo{
    height: 60px;
}

.content-logo img{
    height: 100%;  
}

/* ---------------content-main--------------- */

.content-main ul{ 
    list-style: none;
    width: 100%;
    text-align: center;
}

.content-main ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 20px;
   
}

.content-main ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.content-main ul li a:hover{
    background-color: lightblue;
    border-radius: 10px;
    font-weight: 700;
}

/* ------------------sidebar right--------------------- */


.sidebar-right ul{
    list-style: none;
    width: 100%;
    text-align: right;
    
}
.sidebar-right ul li{
    display: inline-block;
    line-height: 60px;

}

.button{
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
}
/* ----------------inizio article------------ */

.title-main{
    text-align: center;
    width: calc(100% - 600px);
    margin: auto;
}

.title-main h1{
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 30px;
    color: white;
}

.title-main p{
    font-size: 20px;
    color: white;
}

ul .button.color-black{
    color: black;
    background-color: white;
    padding: 10px 20px;
    list-style: none;
    text-align: center;
}
article ul li{
    display: inline-block;
    margin-top: 20px;
   
}

ul .button.color-white{
    color: white;
    background: black;
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    display: inline-block;
}




/* ------------------inizio box 2------------------- */

.sidebar-content-left{
    float: left;
    width: 50%;
    padding: 80px;
}
.sidebar-content-right{
    float: left;
    width: 50%;
}

.content-img{
    height: 300px;
    width: 300px;
   
}

.content-img img{
    height: 100%;
}

.sidebar-content-right .text{
     padding: 100px 150px;  
}

.text h1{
    margin-bottom: 20px;
}

/* -------------------inizio contenitore finale-------------- */

.final-content{
    width: 1200px;
    text-align: center;
    border: 1px solid royalblue;
    margin: auto;
    
}
.final-item{
    border: 1px solid red;
    width: 700px;
    margin: auto;
    margin-top: 40px;
}
.final-test{
    margin-bottom: 20px;
}
.final-test ul{
    list-style: none;
}
.final-test h2{
    margin-bottom: 10px;
}

.button.color-violet{
    color: black;
    background-color: rgb(152, 174, 242);
    padding: 10px 20px;
    list-style: none;
    text-align: center;
}

/* --------------inizio footer-------------- */

