*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box-image{
    background-image: url("../img/jumbo.png");
    height: 600px;
    background-size: cover;
}
.container{
    width: 1200px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;    
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
.sidebar-left{
    float: left;
    width: 25%;
}

.content-main{
    float: left;
    width: 50%;
    padding: 0 20px; 
}
.sidebar-right{
    float: left;
    width: 25%;
}


/*--------------utility------------------  */

nav{
    height: 60px;
    border: 1px solid red;
   /* fixed mi da problemi perché prende tutta la pagina */
}

/* -----------------logo------------- */
.content-logo{
    height: 60px;
}

.content-logo img{
    height: 100%;  
}

/* ---------------content-main--------------- */

.content-main ul{ 
    list-style: none;
    width: 100%;
    text-align: center;
}

.content-main ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 20px;
   
}

.content-main ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.content-main ul li a:hover{
    background-color: lightblue;
    border-radius: 10px;
    font-weight: 700;
}

.button{
    text-align: center;
    top: -15px;
    right: 0;
    border-radius: 10%;
}

.sidebar-right ul{
    list-style: none;
    width: 100%;
    text-align: right;
    
}
.sidebar-right ul li{
    display: inline-block;
    line-height: 60px;
}


.sidebar-right ul li a{
    text-decoration: none;
    background-color: white;
    font-size: 16px;
    padding: 10px;
}



